In [33]:
%reload_ext autoreload
%autoreload 2
from pathlib import Path
from sklearn.model_selection import train_test_split

import sys
sys.path.append("..")
from dataset import ManualFeatureDataset

## Train/Test Split

In [34]:
root_dir = Path("/media/nvme1/icare-data/6h-features")
labels_csv = Path("/home/bc299/icare/patient_data.csv")

## Dataset Setup

In [69]:
all_patient_ids = [dir_.name for dir_ in root_dir.iterdir()]
train_ids, temp_ids = train_test_split(all_patient_ids, test_size=0.3, random_state=42)
val_ids, test_ids = train_test_split(temp_ids, test_size=2/3, random_state=42)

In [87]:
ManualFeatureDataset(root_dir, labels_csv, train_ids).labels_df

/home/bc299/icare/notebooks/../dataset.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  self.labels_df.index = self.labels_df.index.astype(str).str.replace(".0", "").str.rjust(4, "0")

,Hospital,Age,Sex,ROSC,OHCA,Shockable Rhythm,TTM,Outcome,CPC
Patient,,,,,,,,,
0634,A,69.0,Male,NaN,True,True,33.0,Poor,5.0
0496,D,82.0,Male,NaN,NaN,False,NaN,Poor,5.0
0493,A,67.0,Male,NaN,True,True,33.0,Poor,5.0
0742,A,67.0,Male,NaN,True,True,33.0,Good,1.0
0611,B,40.0,Male,14.0,False,False,33.0,Poor,5.0
...,...,...,...,...,...,...,...,...,...
0931,D,28.0,Female,60.0,True,False,33.0,Poor,5.0
0558,B,71.0,Female,15.0,True,False,33.0,Poor,5.0
0481,A,76.0,Male,NaN,True,True,33.0,Poor,5.0
0755,D,78.0,Female,70.0,False,False,33.0,Poor,5.0
0451,A,73.0,Male,NaN,False,True,33.0,Good,1.0

In [88]:
len(train_ids)

357

In [98]:
import pandas as pd
df = pd.read_csv(labels_csv, index_col=0)
df.index = df.index.astype(str).str.replace(".0", "").str.rjust(4, "0")

/tmp/ipykernel_175975/4224253903.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.index = df.index.astype(str).str.replace(".0", "").str.rjust(4, "0")